<phpunit bootstrap="./source/Autoload.php">
    <testsuites>
        <testsuite name="essentials">
            <file>tests/essentials/test-autoloader.php</file>
            <file>tests/essentials/test-file-system.php</file>
            <file>tests/essentials/test-qr-core.php</file>
            <file>tests/essentials/test-remote-qr-core.php</file>
        </testsuite>
        <testsuite name="remote">
            <file>tests/remote/test-google-qr.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./source</directory>
        </whitelist>
    </filter>
</phpunit>
